@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0.5rem 1rem;
}

#died-table {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 2rem;
    justify-self: center;
    justify-content: center;
}

#died-table th, #died-table td {
    border: 1px solid #000;
    padding: 0.5rem 1rem;
}

#died-board {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 1rem 1rem;
    justify-self: center;
    justify-content: center;
}

.died-area {
    display: flex;
    flex-direction: column;
    border: 2px solid #000;
    width: 16rem;
    padding: 1rem;
    text-align: center;
}

.died-img {
    align-self: center;
    max-width: fit-content;
    max-height: 10rem;
}

#banner {
    text-align: center;
    margin-bottom: 2rem;
    padding: 9rem 1rem;
}

#banner h2 {
    padding: 2rem 0;
}

#links {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

a {
    text-decoration: none;
    color: rgb(85, 85, 85);
}

.home {    
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.home-block {
    padding: 0.5rem 0;
}

.lxgw-wenkai-tc-regular {
  font-family: "LXGW WenKai TC", cursive;
  font-weight: 400;
  font-style: normal;
}

.name {
    font-weight: 700;
    font-size: 1.2rem;
}

.date-info {
    align-content: end;
    margin-top: 0.5rem; 
    flex-grow: 1;
    font-weight: 500;
    color: rgb(85, 85, 85);
}

.status-text {
    font-weight: 700;
    font-size: 1rem;
    margin: 0;
}

.contribution {
    margin: 0.5rem 0;
}

.died-reason {
    margin: 1rem 0;
    font-weight: 600;
}

p {
    margin: 0.5rem 0;
}

.from {
    font-size: 0.95rem;
}